{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <!-- !add a link that goes to the user profile -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/users/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

  <!-- </div> -->
</nav>

    <h1>Admin</h1>
    <p>Admin index page</p>
    <!-- Sample list of users -->
    <!-- !Will need to tie the functionality of the global user for the display the correct screen and information on this page  -->

    <h2>Users</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>

{% endblock %}
