{% extends "base.html" %}
{% block title %} Movies {% endblock %}

{% block content %}
   <h1>This is the movies page</h1>
    <p>Here is a list of all the movies</p>
    <!-- Create a practice ul list of all the original star trek crew movies  make them all a list with a link to go to a page for each one-->
    <ul>
        <li><a href="/movies/1">Star Trek: The Motion Picture</a></li>
        <li><a href="/movies/2">Star Trek II: The Wrath of Khan</a></li>
        <li><a href="/movies/3">Star Trek III: The Search for Spock</a></li>
        <li><a href="/movies/4">Star Trek IV: The Voyage Home</a></li>
        <li><a href="/movies/5">Star Trek V: The Final Frontier</a></li>
        <li><a href="/movies/6">Star Trek VI: The Undiscovered Country</a></li>
        <li><a href="/movies/7">Star Trek: Generations</a></li>
        <li><a href="/movies/8">Star Trek: First Contact</a></li>
        <li><a href="/movies/9">Star Trek: Insurrection</a></li>
        <li><a href="/movies/10">Star Trek: Nemesis</a></li>
        <li><a href="/movies/11">Star Trek</a></li>
        <li><a href="/movies/12">Star Trek Into Darkness</a></li>
        <li><a href="/movies/13">Star Trek Beyond</a></li>
    </ul>
{% endblock %}

<!-- ?In earlier versions of this application -->