{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

    <h1>This is the login page</h1>
    <!-- pass in the login form -->
    <form method="POST" id="user_form">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <button class="btn btn-primary btn-lg btn-block">Log me in!</button>

{% endblock %}